{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'todo_list/style_login.css' %}>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="inner-div">
            <h1 class="h1">Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p class="lead">Not a member?
                <a href="register.html">Click here to Register</a>
            </p>
        </div>
    </div>

{% endblock %}